[app]
host=0.0.0.0
port=53

[dns-cache]
enabled=true
max-size=1000
max-ttl=86400
negative-ttl=60

[masked-dns]
"*.company.local"=company-dns
"*.local"=local-dns
"*"=inet-dns

[upstream-dns]
inet-dns=1.1.1.1
company-dns=10.10.10.1,10.10.11.13:5053
local-dns=192.168.13.133:53

[hosts]
dns.dev.local=192.168.13.133
dns.prod.local=192.168.13.13

