[app]
host=0.0.0.0
port=5053

[masked-dns]
"*.company.local"=company-dns
"*.local"=local-dns
"*"=inet-dns

[upstream-dns]
inet-dns=1.1.1.1:53
company-dns=10.10.10.1:53,10.10.11.13:5353
local-dns=192.168.10.16:5353

[hosts]
app.dev.local=192.168.10.50
api.dev.local=192.168.10.51

