services:
  dns-proxy-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dns-proxy-prod
    network_mode: host
    volumes:
      - ./config:/app/config
      - ./logs:/app/logs
      - ./scripts:/app/scripts
    env_file:
      - .run-prod.env
    command: sh -c "node scripts/setup-config.js setup && node dist/app.js"
    restart: always
    cap_add:
      - NET_BIND_SERVICE
