# Использование профилей для разделения DEV и PROD
# Запуск DEV:  docker compose --profile dev up
# Запуск PROD: docker compose --profile prod up
# Или через npm: npm run docker:dev / npm run docker:prod

services:
  dns-proxy-dev:
    profiles:
      - dev
    build:
      context: .
      dockerfile: ./env/dev/Dockerfile
    container_name: dns-proxy-dev
    ports:
      - "5053:53/udp"
    volumes:
      - ./src:/app/src
      - ./env/dev/config:/app/config
      - ./dist:/app/dist
      - ./env/dev/logs:/app/logs
      - ./scripts:/app/scripts
      - ./env/dev/.env:/app/.run-dev.env
    environment:
      - NODE_ENV=development
      - APP_INI_PATH=/app/config/app.ini
    env_file:
      - env/dev/.env
    command: npx tsx --inspect src/main.ts
    restart: unless-stopped

  dns-proxy-prod:
    profiles:
      - prod
    build:
      context: .
      dockerfile: ./env/prod/Dockerfile
    container_name: dns-proxy-prod
    network_mode: host
    volumes:
      - ./env/prod/config:/app/config
      - ./env/prod/logs:/app/logs
      - ./scripts:/app/scripts
    environment:
      - APP_INI_PATH=/app/config/app.ini
    env_file:
      - env/prod/.env
    command: node dist/app.js
    restart: always
    cap_add:
      - NET_BIND_SERVICE
