[app]
v4host=0.0.0.0
v6host=::
port=5053

[dns-cache]
enabled=true
max-size=1000
max-ttl=86400
negative-ttl=60

[masked-dns]
"*.company.local"=company-dns
"*.local"=local-dns
"*"=inet-dns

[upstream-dns]
inet-dns=1.1.1.1
company-dns=10.10.10.1,10.10.11.13:5053
local-dns=192.168.10.16:5053

[hosts]
app.dev.local=192.168.10.50
api.dev.local=192.168.10.51

