[test]
# Адрес тестируемого DNS-сервера (IPv4)
v4DnsServerHost=127.0.0.1
# Адрес для тестов по IPv6 (опционально; если задан, выполняется тест доступности по IPv6). Например ::1
# v6DnsServerHost=::1
# Порт тестируемого DNS-сервера
dnsServerPort=5053
# Приблизительное количество DNS-запросов в секунду на компьютере веб-разработчика
# Значение основано на статистике: при активной разработке 30-50 запросов/сек
requestsPerSecond=40
# Длительность нагрузочного теста в секундах
loadTestDuration=10
# Домены для тестирования (через запятую)
testDomains=google.com,github.com,example.com
